{% extends 'base.html.twig' %}
{% block title %}Categories{% endblock %}


{% block main %}
    <div style="width: 1100px">
    <ul>
        {% if category %}
            {% for item in category %}


                <li>
                    <div class="main" style='background:white'>
                        <div class="wrap" style='background:white'>


                            <div class="col_1_of_3 span_1_of_3" style='background:white; margin:10px auto'>
                                <a href="{{ path('category_view_all_products',{'id':item.id}) }}">
                                    <div class="view view-fifth">
                                        <div class="top_box">
                                            <h3 class="m_1"></h3>
                                            <p class="m_2"></p>
                                            <div class="grid_img">
                                                <div class="css3">{{ item.name }}</div>
                                                <div class="css3"><a href="{{ path('category_delete',{'id':item.id}) }}">[ Delete ]</a></div>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="clear"></div>
                                </a>
                            </div>







                        </div></div>





                </li>


            {% endfor %}
        {% else %}
            <div style="color: white;"> No categories found</div>
        {% endif %}
    </ul>

    </div>
<br>
{% endblock %}
{% block foot %}
{#<a href="{{ path('category_delete',{'id':item.id}) }}">[ delete ]</a>#}
{% endblock %}